<div class="container">
  
<h3>組み合わせ作成</h3>
<div class="row">
    <%= button_to '再抽選する', {controller: 'home', action: 'shuffle'}, {method: :get }%>
    <%= button_to 'グループ確定', {controller: 'home', action: 'confirm'}, {method: :get }%>
    </div>
    <h5>ランチグループ</h5>
<div class="row">
    <table class="table stripe">
      <thead>
        <tr>
          <th>グループA</th>
          <th colspan="3"></th>
        </tr>
      </thead>
  
      <tbody>
        <% @g1.each do |f| %>
          <tr>
            <td><%= f %></td>
          </tr>
        <% end %>
     </tbody>
    </table>

    <table class="table stripe">
          <thead>
        <tr>
          <th>グループB</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @g2.each do |f| %>
          <tr>
            <td><%= f %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <table class="table stripe">
          <thead>
        <tr>
          <th>グループC</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @g3.each do |f| %>
          <tr>
            <td><%= f %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
 
    </div>
</div>