<h3>組み合わせ作成</h3>

<%= button_to 'シャッフル開始', {controller: 'home', action: 'shuffle'}, {method: :get }%>
<h5>ランチグループ</h5>

<table class="table table-striped">
  <thead>
    <tr>
      <th>name</th>
      <th>section</th>
      <th>next</th>
      <th>last</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @shuffle.each do |f| %>
      <tr>
        <td><%= f.name %></td>
        <td><%= f.section %></td>
        <td><%= f.next %></td>
        <td><%= f.last %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>