<div class="row mx-5 my-4">
  <h3>ランチシャッフル</h3>
</div>

  <div class="row mx-5 mt-5">
    <% if @button != "Fixed" %>
      <%= button_to 'シャッフル！ »', home_shuffle_path, class: 'btn btn-outline-danger mr-1', method: :get, params:{id: "shuffle"} %>
      <%= button_to 'グループ確定 »', home_shuffle_path, class: 'btn btn-outline-danger mx-1', method: :get, params:{id: "Fixed"} %>
    <% end %>
  </div>

  <div class="row mx-4 mt-5">
    <div class="col-md-4">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>グループA</th>
          </tr>
        </thead>
      
        <tbody>
          <% @shuffle.each do |f| %>
            <tr>
              <% if f.next == 0 %>
                <td><%= f.name %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-4">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>グループB</th>
          </tr>
        </thead>

        <tbody>
          <% @shuffle.each do |f| %>
            <tr>
              <% if f.next == 1 %>
                <td><%= f.name %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-4">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>グループC</th>
          </tr>
        </thead>

        <tbody>
          <% @shuffle.each do |f| %>
            <tr>
              <% if f.next == 2 %>
                <td><%= f.name %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>
