
<div class="container">
  <%= render 'layouts/flash_messages' %>
  <h3>組み合わせ作成</h3>

  <div class="row">
  <%if @button != "Fixed" %>
    <%= button_to '再抽選する', {controller: 'home', action: 'shuffle'}, {method: :get, params:{id: "shuffle"}}%>
    <%= button_to 'グループ確定', {controller: 'home', action: 'shuffle'}, {method: :get, params:{id: "Fixed"}}%>
  <%end%>
  </div>

  <h5>ランチグループ</h5>
  <div class="row">
    <div class="col-md-4">
      <table class="table stripe">
        <thead>
          <tr>
            <th>グループA</th>
          </tr>
        </thead>
      
        <tbody>
          <% @g1.each do |f| %>
            <tr>
              <td><%= f.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-4">

      <table class="table stripe">
        <thead>
          <tr>
            <th>グループB</th>
          </tr>
        </thead>

        <tbody>
          <% @g2.each do |f| %>
            <tr>
              <td><%= f.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-4">
      <table class="table stripe">
        <thead>
          <tr>
            <th>グループC</th>
          </tr>
        </thead>

        <tbody>
          <% @g3.each do |f| %>
            <tr>
              <td><%= f.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>


  </div>
</div>