<%= form_with(model: emplo, local: true) do |form| %>
  <% if emplo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(emplo.errors.count, "error") %> prohibited this emplo from being saved:</h2>

      <ul>
        <% emplo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :section %>
    <%= form.text_field :section %>
  </div>

  <div class="field">
    <%= form.label :last %>
    <%= form.number_field :last %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
