<div class="row mx-5 my-4">
  <h5>対象者情報を編集できます</h5>
</div>

<div class="row mx-5 my-4">
  <%= link_to '新規追加', new_emplo_path, class: 'btn btn-outline-danger' %>
</div>

    <div class="row mx-4 mt-5">
    <div class="col-md-5">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>製造</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @seizou.each do |emplo| %>
            <tr>
              <td><%= emplo.name %></td>
              <td><%= emplo.section %></td>
              <td><%= link_to 'Edit', edit_emplo_path(emplo) %></td>
              <td><%= link_to 'Destroy', emplo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
           <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-5">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>事務</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @jimu.each do |emplo| %>
            <tr>
              <td><%= emplo.name %></td>
              <td><%= emplo.section %></td>
              <td><%= link_to 'Edit', edit_emplo_path(emplo) %></td>
              <td><%= link_to 'Destroy', emplo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
           <% end %>
        </tbody>
      </table>
    </div>
  </div>
